
.btn{
  position: relative;
  width: 160px;
  margin: 10px;
  padding: 16px;
  border-radius: 18px;
  font-size: 20px;
}

.container{
  width: 550px; 
} 

.jumbotron.jumbotron-light {
  background: #f1f1f1;
  padding: 70px 30px;
  margin: 0;
}

.center {
  text-align: center;   
}
