<div class="container">
    <div class="row">
        <div class="col-9 p-2">
            <!-- form-->
            <h1> Survey</h1>
            <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" formControlName="title">
                    <small *ngIf="!surveyForm.controls.title.valid" class="text-danger">
                        Title is required (minimum 5 characters).
                    </small>
                </div>

                <div formArrayName="questionsArr">
                    <div *ngFor="let address of surveyForm.get('questionsArr')['controls']; let i=index">
                        <!-- question header -->
                        <div>
                            <span>Question {{i + 1}}</span>
                            <span *ngIf="surveyForm.get('questionsArr')['controls'].length > 1" 
                                (click)="removeQuestion(i)"> remove
                            </span>
                        </div>
                        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                        <div [formGroupName]="i">
                            <!-- question -->
                            <div>
                                <label>Question</label>
                                <input type="text" formControlName="question">
                                <!--display error message if street is not valid-->
                                <small [hidden]="surveyForm.get('questionsArr')['controls'][i].controls.question.valid">
                                    Question is required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <span (click)="addQuestion()"> add </span>
                <button type="submit" class="btn btn-primary" [disabled]="!surveyForm.valid">Submit</button>
                <a href="/survey" type="submit" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>