body {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    margin-left: 4.7em;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
  }
  
  a {
    font-family: 'Montserrat', sans-serif;
  }

  .card-title {
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 7em;
    
  }
  
  .center {
    text-align: center;
  }
  
  /* button */
  .button {
    left: -200px;
    border-radius: 18px;
    background-color: rgb(250, 204, 76);
    border: none;
    color: #FFFFFF;
    outline: none;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 200px;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 10px 10px 15px 2px rgba(204, 204, 204, 0.527);  
    
  }
  
  .button span {
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -30px;
    transition: 0.4s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
    /* Table */
  .tableBtnSurveys {
    margin-left: auto;
    margin-right: auto;
    
  }
  