<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<body>
<div class="container" style="width: 800px;">
    <div class="row">
        <div class="container col-8 p-2">
            <div class="btn-group">           
            </div><br><br> 
            <a><img id = "projectAd" style="width: 500px;" src = "../../../assets/projectAd.png"></a>
            <br><br>
            <div class="center">  
                <table class="tableBtnSurveys">
                    <thead>
                      <tr>
                        <th>
                            <a href="survey/add" class="button" role = "button"><span>Create Survey</span></a>            
                        </th>
                        <th>
                            <!-- Smooth scroll to Active survey list -->
                            <a class="button" href="survey/"  style="width: 160px; height: 60px;"><span>Active Survey</span></a><div #target></div>            
                        </th>
                      </tr>
                    </thead>
                    </table>
            </div>
        </div>
    </div>
</div>
</body>
