<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<body>
<p style="margin: 5em;"></p>
    <div class="row">
        <div class="container col-8 p-2">
            <!-- surveys-->
            <h1> My Surveys </h1>
            <hr>
            <br>            
            <div *ngFor = 'let survey of surveys; index as i' class="card m-2 p-1 bg-white" >       
                <div class="card-body" style="height: 13px; ">
                    <table class="tg">
                        <thead>
                        <tr>
                            <th class="text-left col-3"  style="top: -10px;">
                                <h6 class="card-title" >
                                    {{survey.title}}
                                </h6>
                            </th>
                            <th class="text-center col-3" style="top: -15px;">
                                <a href="survey/edit/{{survey._id}}" class="btn btn-secondary btn-sm" role = "button">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </th>
                            <th class="text-center col-2" style="top: -15px;">
                                <button class="btn btn-danger btn-sm" role = "button" (click)="removeSurvey(survey, i)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        </table>
                </div>
            </div> 
            <br><br><br>
        </div>
    </div>
</body>
