/* You can add global styles to this file, and also import other style files */

/*  title */
#top_title
{
    font-family: 'Lobster', cursive;
}

/* Button */
#saveBtn
{
    background-color: rgb(244, 201, 20);
    border: 0;
    outline: 0;
}
#cancelBtn
{
    background-color: rgb(136, 136, 136);
    border: 0;
    outline: 0;
}